/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 5rem;
    padding-bottom: 20px;
}


@media screen and (max-width:398px) {
    body {
        padding-top: 6.70rem;
    }
}


/*@media screen and (min-width:768px) and (max-width:991px) {
    body {
        margin-top: 100px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    body {
        margin-top: 50px;
    }
}*/

